<!DOCTYPE html>
<html ng-app="app1" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="ctrl1">
    <div class="container1">
        <div>
            <label>Name:</label>
            <input type="text" ng-model="Name" placeholder="Enter a name here">
            <hr>
            <h1>Hello {{Name}}!</h1>
        </div>
        <div>
            Random number : {{randomNum}}
        </div>
        <br>
        <input type="text" ng-model="name"><br>
        <span>Counter(using $watch) : {{counter}}</span>
        <br><br>
        <p>{{datetime}}</p>
        <button id="updateTime">Update time (using $digest)</button>
        <button id="updateTimeBtn">Update time(using $apply)</button>
    </div>

    <!--build:js js/main.min.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="app.js"></script>
    <!-- endbuild -->

</body>
</html>
